NEXT_PUBLIC_MORALIS_API_KEY=''

# Backend SSE endpoint - use IP address for production, localhost for development
# Production example: NEXT_PUBLIC_BACKEND_URL=http://192.168.1.100:3500
NEXT_PUBLIC_BACKEND_URL='http://localhost:3500'

# BTCPay Server POS endpoint for Ark payments
NEXT_PUBLIC_BTCPAY_POS_URL='https://we.encrypt.cash/apps/3wiURVmihZpAczHUPGQ1HsTSv1mf/pos'
NEXT_PUBLIC_BTCPAY_BASE_URL='https://we.encrypt.cash'
